* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141518;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

main header {
  color: #38c065;

  text-align: center;
  font-size: 1.5rem;

  margin-bottom: 16px;
}

main header h1 {
  font-family: Pattaya, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

main section {
  background-color: #090909b5;
  border-radius: 7.5px;
  border: 1.5px solid #5cac00;
  box-shadow: 10px 10px 15px rgba(2.5, 2.5, 2.5, 0.95);

  padding: 15px 20px; 

  width: 500px;
}

main section h2 {
  color: #38c065;

  margin-bottom: 25px;
  text-align: center;
}

.last-title {
  margin-top: 30px;
}

main section div p {
  color: #f1f0e3;

  margin-bottom: 7.5px;
}

main section div select,
main section div input {
  outline: 0;

  height: 22.5px;
  width: 175px;

  margin-bottom: 22.5px;
}

main section div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

main section div input {
  background: transparent;
  color: #f1f0e3;

  border: 1.5px solid #5cac00;
  border-radius: 30px 0 30px 0;
  padding-left: 11.5px;
}

.last-input {
  margin-bottom: 0;
}

.read-only {
  cursor: default;
}

main section div select {
  background: transparent;
  color: #38c065;

  border: 1.5px solid #5cac00;
  padding-left: 5px;
}

main section div select::-webkit-scrollbar {
  width: 11px;
}

main section div select::-webkit-scrollbar-thumb {
  background: #920707;
  border-radius: 10px;
}

main section div select::-webkit-scrollbar-track {
  background: #090909f9;
}

main section div select option {
  background: #090909f9;
  color: #f1f0e3;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  margin-top: 30px;
  width: 145px;
  height: 30px;

  background: #38c065;

  border: 0;
  border-radius: 2px;

  font-family: Pattaya, sans-serif;
  font-weight: 400;
  font-size: 1.025rem;

  transition: background 0.5s;
}

.button-container button:hover {
  background: #5cac00;
}

.detailed-result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-column, .right-column {
  padding: 5px 0 10px 0;
}

.left-column {
  border-right: 0.5px solid #920707;
  color: #38c065;
}

.left-column span {
  color: #5cac00;
  font-size: 1.05rem;
}

.left-column span span {
  color: #920707;
}

.divider {
  color: #38c065;
  padding: 0 7.5px; 
}

.left-column p:last-of-type {
  margin-top: 25px;
}

.right-column {
  border-left: 0.5px solid #920707;
  padding-left: 20px;
}

.right-column input {
  padding-left: 11.5px;
  border-radius: 0 30px 0 30px;
}

.right-column span {
  color: #920707;
}