* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-green: #38c065;
  --lemon-green: #5cac00;
  --hover-green: #06f756;
  --flaxen-white: #f1f0e3;
  --red: #920707;
  --hover-red: #810404;
  --opaque-black: rgba(9, 9, 9, 0.975);
}

html {
  font-size: 62.5%; /* now, each rem unity is equal to 10px. */
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background-color: #141518;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

body main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 12px 0 24px;
}

main h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 4.8rem;
  color: var(--blue-green);
  margin-bottom: 10px;
}

main div.exchange-card {
  padding: 16px 20px;
  min-width: 500px;
  background-color: rgba(9, 9, 9, 0.75);

  border: 1.5px solid var(--lemon-green);
  border-radius: 7.5px;
  box-shadow: 10px 10px 15px rgba(2.5, 2.5, 2.5, 0.95);
}

div.exchange-card section h2 {
  text-align: center;
  color: var(--blue-green);
  margin-bottom: 25px;
}

section.result h2 {
  margin-top: 30px;
}

section p,
section label {
  display: block;
  width: fit-content;

  font-size: 1.6rem;
  color: #f1f0e3;
  margin-bottom: 8px;
}

section label {
  cursor: pointer;
}

section select,
section input {
  background-color: transparent;
  width: 180px;
  height: 22.5px;
  margin-bottom: 22.5px;

  outline: none;
  border: 2px solid var(--lemon-green);
  transition-duration: 0.5s;
}

section input:focus,
section select:focus {
  border: 2px solid var(--red);
}

section.data-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

section input {
  padding: 0 12px;
  font-size: 1.4rem;
  color: #f1f0e3;
  border-radius: 30px 0 30px 0;
}

section input:last-child {
  margin-bottom: 0;
}

section.result input[readonly] {
  cursor: default;
}

section.data-input select {
  padding-left: 5px;
  font-size: 1.4rem;
  color: var(--blue-green);
  cursor: pointer;
}

section.data-input select::-webkit-scrollbar {
  width: 8px;
}

section.data-input select::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 25px;
}

section.data-input select::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-red);
}

section.data-input select::-webkit-scrollbar-track {
  background-color: var(--opaque-black);
}

section.data-input select option {
  background-color: var(--opaque-black);
  color: #f1f0e3;
}

div.exchange-card div.btn-container {
  text-align: center;
  margin-top: 30px;
}

div.btn-container button {
  width: 145px;
  height: 34px;
  font-family: "Pattaya", sans-serif;
  font-size: 1.75rem;
  background-color: var(--blue-green);

  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}

div.btn-container button:hover,
div.btn-container button:focus {
  background-color: var(--hover-green);
}

div.exchange-card section.result div.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.result-container div.left-column,
div.result-container div.right-column {
  padding: 6px 0 12px;
}

div.result-container div.left-column {
  padding-right: 20px;
  color: var(--blue-green);
  border-right: 0.5px solid var(--red);
}

div.left-column span {
  color: var(--hover-green);
  font-size: 1.55rem;
}

div.left-column span span {
  color: var(--red);
}

div.left-column span.divider {
  color: var(--blue-green);
  padding: 0 7.5px;
}

div.left-column label {
  margin-top: 25.25px;
}

div.result-container div.right-column {
  padding-left: 20px;
  border-left: 0.5px solid var(--red);
}

div.right-column input {
  border-radius: 0 30px 0 30px;
}

div.right-column span {
  color: var(--red);
}

@media (max-width: 540px) {
  main div.exchange-card {
    min-width: 250px;
    width: 92.5%;
  }

  div.exchange-card section.data-input select,
  div.exchange-card section.data-input input {
    width: 180px;
  }

  div.exchange-card section.result div.result-container {
    display: flex;
    flex-direction: column;
  }

  div.result-container div.left-column {
    padding: 0;
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 0.5px solid var(--red);
  }

  div.result-container div.left-column label {
    margin-top: 22.5px;
  }

  div.result-container div.right-column {
    padding: 0;
    padding-top: 24px;
    border-left: none;
    border-top: 0.5px solid var(--red);
  }

  div.result-container div.right-column input {
    border-radius: 30px 0 30px 0;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 59.375%;
  }

  main div.exchange-card {
    width: 100%;
  }
}
