* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --blue-green: #38c065;
  --lemon-green: #5cac00;
  --hover-green: #06f756;
  --flaxen-white: #f1f0e3;
  --red: #920707;
  --hover-red: #810404;
  --opaque-black: rgba(9, 9, 9, 0.975);
}

html {
  font-size: 62.5%; /* now, each rem is equivalent to 10px. */
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #141518;
}

body main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.4rem 0 2.8rem;
}

main h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 6rem;
  color: var(--blue-green);
  margin-bottom: 1rem;
}

main div.exchange-card {
  padding: 2.2rem 2.6rem;
  min-width: 64rem;
  background-color: rgba(10, 11, 12, 0.75);

  border: 0.2rem solid var(--lemon-green);
  border-radius: 8px;
  box-shadow: 2rem 2rem 2.4rem rgba(4, 4, 4, 0.9);
}

div.exchange-card section h2 {
  text-align: center;
  font-size: 3.2rem;
  color: var(--blue-green);
  margin-bottom: 2.4rem;
}

div.exchange-card section.result h2 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

section p,
section label {
  display: block;
  width: fit-content;

  font-size: 2.375rem;
  color: #f1f0e3;
  margin-bottom: 1rem;
}

section label {
  cursor: pointer;
}

section select,
section input {
  width: 27.75rem;
  margin-bottom: 2.6rem;
  background-color: transparent;
  font-size: 2.1rem;

  outline: none;
  border: 0.25rem solid var(--lemon-green);
  transition-duration: 0.5s;
}

section input:focus,
section select:focus {
  border-color: var(--red);
}

section.data-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

section input {
  padding: 0.35rem 1.8rem;
  color: #f1f0e3;
  border-radius: 30px 0 30px 0;
}

section input:last-child {
  margin-bottom: 0;
}

section.result input[readonly] {
  cursor: default;
}

section.data-input select {
  padding: 0.35rem 0.9rem;
  color: var(--blue-green);
  cursor: pointer;
}

section.data-input select::-webkit-scrollbar {
  width: 8px;
}

section.data-input select::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 25px;
}

section.data-input select::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-red);
}

section.data-input select::-webkit-scrollbar-track {
  background-color: var(--opaque-black);
}

section.data-input select option {
  background-color: var(--opaque-black);
  font-size: 2.1rem;
  color: #f1f0e3;
}

div.exchange-card div.btn-container {
  text-align: center;
  margin-top: 3.4rem;
}

div.btn-container button {
  width: 17.5rem;
  height: 4.4rem;

  font-family: "Pattaya", sans-serif;
  font-size: 2.4rem;
  background-color: var(--blue-green);

  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}

div.btn-container button:hover,
div.btn-container button:focus {
  background-color: var(--hover-green);
}

div.exchange-card section.result div.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.result-container div.left-column,
div.result-container div.right-column {
  padding: 0.8rem 0 1.6rem;
}

div.result-container div.left-column {
  padding-right: 2.8rem;
  color: var(--blue-green);
  border-right: 0.2rem solid var(--red);
}

div.left-column p:first-child {
  margin-bottom: 1.6rem;
}

div.left-column p:last-of-type {
  color: var(--hover-green);
  font-size: 2.25rem;
  letter-spacing: 1.15px;
  white-space: nowrap;
}

div.left-column p:last-of-type span {
  color: var(--red);
}

div.left-column label {
  margin-top: 3.1rem;
}

div.result-container div.right-column {
  padding-left: 2.8rem;
  border-left: 0.2rem solid var(--red);
}

div.right-column input {
  border-radius: 0 30px 0 30px;
}

div.right-column span {
  color: var(--red);
}

@media (max-width: 1280px) {
  html {
    font-size: 50.3125%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 46.875%;
  }
}

@media (max-width: 540px) {
  main div.exchange-card {
    min-width: initial;
    width: 100%;
  }

  div.exchange-card section.result div.result-container {
    display: flex;
    flex-direction: column;
  }

  div.result-container div.left-column {
    padding: 0;
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 0.5px solid var(--red);
  }

  div.result-container div.left-column label {
    margin-top: 22.5px;
  }

  div.result-container div.right-column {
    padding: 0;
    padding-top: 24px;
    border-left: none;
    border-top: 0.5px solid var(--red);
  }

  div.result-container div.right-column input {
    border-radius: 30px 0 30px 0;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 42.1875%;
  }
}
